<onlyinclude>
	<infobox>
		<title source="title">
			<default>{{PAGENAME}}</default>
		</title>
		<image source="image">
			<caption source="caption"/>
		</image>
		<data source="sr">
			<label>Stage Requirement</label>
		</data>
		<data source="cost">
			<label>Cost of Build</label>
			<default>''Unknown''</default>
		</data>
		<data source="tr">
			<label>Tech Requirement</label>
			<default>''Unknown''</default>
		</data>
		<data source="pr">
			<label>Power Requires</label>
		</data>
		<data source="br">
			<label>Bandwidth Requires</label>
		</data>
		<data source="pp">
			<label>Power Provides</label>
		</data>
		<data source="bp">
			<label>Bandwidth Provides</label>
		</data>
		<data source="bb">
			<label>Built By</label>
			<default>''Unknown''</default>
		</data>
		<data source="st">
			<label>Stores</label>
		</data>
		<data source="hdof">
			<label>Harvest Drop Off For</label>
		</data>
		<data source="work">
			<label>Workers</label>
		</data>
		<data source="riq">
			<label>Requires IQ</label>
		</data>
		<group>
			<header>Generates</header>
			<data source="gener_out">
				<label>Output</label>
			</data>
			<data source="gener_time">
				<label>Time(ticks)</label>
			</data>
		</group>
		<group>
			<header>Consumes</header>
			<data source="consume_in">
				<label>Input</label>
			</data>
			<data source="consume_time">
				<label>Time(ticks)</label>
			</data>
		</group>
		<group>
			<header>Converts</header>
			<data source="convert_in">
				<label>Input</label>
			</data>
			<data source="convert_out">
				<label>Output</label>
			</data>
			<data source="convert_time">
				<label>Time(ticks)</label>
			</data>
		</group>
		<group>
			<header>Other</header>
			<data source="jo">
				<label>Jop Occupation</label>
			</data>
			<data source="hea">
				<label>Heals</label>
			</data>
			<data source="edu">
				<label>Educates</label>
			</data>
			<data source="piq">
				<label>Provides IQ</label>
			</data>
			<data source="tax">
				<label>Tax Value</label>
			</data>
			<data source="pt">
				<label>Packs To</label>
			</data>
			<data source="ugl">
				<label>Unlock Government Level</label>
			</data>
			<data source="ut">
				<label>Upgrades to</label>
			</data>
		</group>
	</infobox>
</onlyinclude>

<noinclude>{{documentation}}
</noinclude>
