{{infobox technologies
 |title=Example
 |image=[[File:My-colony-128.png|thumb]]
 |sr=0
 |cost=[[Research]]: 1
 |tr=[[Human Base]]
 |nbb=[[Lander]]
 |nbt=[[Human Base]]
 |nbv=[[Rover]]
}}

<pre>
{{infobox technologies
 |title=Example
 |image=[[File:My-colony-128.png|thumb]]
 |sr=0
 |cost=[[Research]]: 1
 |tr=[[Human Base]]
 |nbb=[[Lander]]
 |nbt=[[Human Base]]
 |nbv=[[Rover]]
}}
</pre>

{| class="article-table"
 !Code
 !Description
 |-
 |sr
 |Stage Requirement
 |-
 |cost
 |Cost resources when unlock
 |-
 |tr
 |Tech Requirement
 |-
 |nbb
 |Needed By(Building)
 |-
 |nbt
 |Needed By(Technology)
 |-
 |nbv
 |Needed By(Vehicle)
|}

Example usage:<pre>
{{infobox technologies
 |title=Example
 |image=Example.png
 |sr=Number
 |cost=Resources
 |tr=Technologies
 |nbb=Building
 |nbt=Technology
 |nbv=Vehicle
}}
</pre>

<includeonly>
  [[Category:Templates|{{PAGENAME}}]]
</includeonly>

<noinclude>
  [[Category:Template documentation|{{PAGENAME}}]]
</noinclude>
