<onlyinclude>
	<infobox>
		<title source="title">
			<default>{{PAGENAME}}</default>
		</title>
		<image source="image">
			<default>{{#invoke:Image|tech|{{PAGENAME}}}}</default>
		</image>
		<data source="sr">
			<label>Stage Requirement</label>
		</data>
		<data source="cost">
			<label>Cost</label>
		</data>
		<data source="tr">
			<label>Tech Requirement</label>
		</data>
		<group>
			<header>Needed By</header>
			<data source="nbb">
				<label>Building</label>
			</data>
			<data source="nbt">
				<label>Technologies</label>
			</data>
			<data source="nbv">
				<label>Vehicles</label>
			</data>
		</group>
	</infobox>
</onlyinclude>

<noinclude>{{documentation}}
</noinclude>
