<onlyinclude>
	<infobox>
		<title source="title">
			<default>{{PAGENAME}}</default>
		</title>
		<image source="image">
			<caption source="caption"/>
		</image>
		<data source="sb">
			<label>Starting Building</label>
		</data>
		<data source="su">
			<label>Starting Units</label>
			<default>''Unknown''</default>
		</data>
		<data source="st">
			<label>Starting Techs</label>
			<default>''Unknown''</default>
		</data>
		<data source="apt">
			<label>Available Planet Types</label>
			<default>''Unknown''</default>
		</data>
		<data source="rb">
			<label>Resource Bonuses</label>
		</data>
	</infobox>
</onlyinclude>

<noinclude>{{documentation}}
</noinclude>
