<onlyinclude>
<infobox>
  <title source="title">
    <default>{{PAGENAME}}</default>
  </title>
  <image source="image">
    <default>{{#invoke:Icon|res|{{PAGENAME}}}}</default>
  </image>
  <data source="ind">
    <label>Indicator</label>
    <default>''Unknown''</default>
  </data>
  <data source="sa">
  	<label>Starting Amount</label>
  </data>
  <data source="tl">
  	<label>Toxic Level</label>
  </data>
  <data source="cf">
  	<label>Comes From</label>
  	<default>''Unknown''</default>
  </data>
  <data source="ct">
    <label>Can trade(Yes/No)</label>
    <default>Yes</default>
  </data>
  <data source="bp">
    <label>Base Price</label>
  </data>
</infobox>
</onlyinclude>

<noinclude>{{documentation}}
</noinclude>
