{{Infobox resources
 |title=Example
 |image=[[File:My-colony-128.png|thumb]]
 |ind=Ex
 |sa=0
 |tl=100
 |cf=[[Lander]]
 |ct=No
 |bp=100
}}

<pre>
{{Infobox resources
 |title=Example
 |image=[[File:My-colony-128.png|thumb]]
 |ind=Ex
 |sa=0
 |tl=100
 |cf=[[Lander]]
 |ct=No
 |bp=100
}}
</pre>

{| class="article-table"
  !Code
  !Description
  |-
  |ind
  |Indicator
  |-
  |sa
  |Starting Amount
  |-
  |tl
  |Toxic Level
  |-
  |cf
  |Comes From
  |-
  |ct
  |Can Trade(Yes/No)
  |-
  |bp
  |Base Price
|}

Example usage:<pre>
{{Infobox Resources
 |title=Example
 |image=Example
 |caption=String
 |ind=String
 |sa=Number
 |tl=Number
 |cf=Building
 |ct=Yes/No
 |bp=Number
}}
</pre>

<includeonly>
  [[Category:Templates|{{PAGENAME}}]]
</includeonly>

<noinclude>
  [[Category:Template documentation|{{PAGENAME}}]]
</noinclude>
